<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Generator</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

</head>
<body>
<main>
    <p class="fs-1 font-monospace text-center">OSF Generator</p>
    <form class="container mt-3" method="post">
        <div class="row mt-5">
            <div class="col-6">
                <div id="metadataPane" class="card">
                    <div class="card-header text-center">Metadata</div>
                    <div class="card-body">
                        {% for data in metadata %}
                            <div class="form-group row mt-2">
                                <label for="{{ data.label }}" class="col-lg-3">{{ data.label }}:</label>
                                <div class="col-lg-9">
                                    <input name="{{ data.label.strip().lower() }}" type="text" class="form-control text-start" id="{{ data.label }}" pattern="{{ data.pattern_regex }}" placeholder={{ data.placeholder }} required>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div id="dependenciesPane" class="card">
                    <div class="card-header text-center text">Dependencies</div>
                    <div class="card-body overflow-auto">
                        {% for info in module_infos %}
                            <div class="form-check">
                                <label class="form-check-label" for="new_service_dependency_{{ info.module_id }}" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ info.description }}">{{ info.display_name }}</label>
                                <input name="dependency_{{ info.module_id }}" class="form-check-input" type="checkbox" value="{{ info.module_id }}" id="new_service_dependency_{{ info.module_id }}">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4 text-center">
            <button type="submit" name="action" value="generateService" class="btn btn-outline-success  mb-5"><img class="figure-caption me-3" src="/static/images/service.png" alt="service icon"/><span class="text-md-center">Service</span></button>
            <button type="submit" name="action" value="generateModule" class="btn btn-outline-success  mb-5 ms-3"><img class="figure-caption me-3" src="/static/images/module.png" alt="module icon"/><span class="text-md-center">Module</span></button>
        </div>
    </form>

</main>
</body>

<script>
    const enableTooltips = function () {
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    }

    const adjustVisuals = function () {
        let metadataPane = document.querySelector('#metadataPane');
        let dependenciesPane = document.querySelector('#dependenciesPane');
        dependenciesPane.style.height = metadataPane.offsetHeight + 'px';
    }

    adjustVisuals();
    enableTooltips();

</script>